<div class="budgets__wrapper">
  <staging-warning></staging-warning>
  <apply-update></apply-update>

  <div class="budgets-header">
    <div class="budgets-header__container">
      <div class="budgets-header__title">Financier</div>

      <ul class="budgets-header__actions">
<!--        <li class="budgets-header__action" ng-if="!userCtrl.email" ui-sref="user.signup">{{'UPGRADE_OR_SIGNUP' | translate}}</li>-->
        <li class="budgets-header__action" ng-if="!userCtrl.email" ng-click="userCtrl.signin()">{{'LOGIN' | translate}}</li>

        <sync-status status="userCtrl.status" ng-if="userCtrl.email"></sync-status>

        <li class="budgets-header__action"
            ng-if="userCtrl.email"
            logout="userCtrl.logout()"
            position="bottom center"
            logout-and-remove="userCtrl.logoutAndRemove()"
            ladda="userCtrl.logoutLoading">{{'LOGOUT' | translate}}</li>
      </ul>
    </div>
  </div>

  <!-- <service-worker-status></service-worker-status> -->

  <div class="budgets">

    <div class="budgets__title">{{'YOUR_BUDGETS' | translate}}</div>

    <ul class="budgets__budgets" disable-ng-animate>
      <li class="budgets__flipper"
          ng-class="{'budgets__flipper--open': budgetsCtrl.isRemoving(budget)}"
          ng-repeat="budget in budgetsCtrl.budgets | orderBy: budgetsCtrl.budgetOrder : true">
        <div class="budgets__budget-remove">
          <header translate="REMOVE_BUDGET_CONFIRMATION" translate-values="{name: budget.name}"></header>

          <div>
            <button class="danger" ng-click="budgetsCtrl.remove(budget)">{{'REMOVE' | translate}}</button> <button ng-click="budgetsCtrl.removing(null, $event)">{{'CANCEL' | translate}}</button>
          </div>
        </div>
        <div class="budgets__budget"
             ng-class="{'budgets__budget--loading': budget.loading}"
             ui-sref="user.app.manager.view.budget({budgetId: budget.id})"
             ng-click="budget.loading = true"
             ng-right-click="budgetsCtrl.removing(budget, $event)">
          <div class="budgets__budget-name">{{budget.name}}</div>
          <div class="budgets__budget-opened"
               ng-if="budgetsCtrl.budgetsOpened[budget.id].opened"
               title="{{budgetsCtrl.budgetsOpened[budget.id].opened | date: 'medium'}}"><sub>{{'LAST_OPENED' | translate}}</sub><br>{{budgetsCtrl.budgetsOpened[budget.id].opened | timeAgo}}</div>

          <div class="budgets__budget-close"
               ng-click="budgetsCtrl.removing(budget, $event)"
               tabindex="0">+</div>

          <div class="budgets__budget-edit"
               ng-click="budgetsCtrl.edit(budget, $event)"
               tabindex="0"><i class="fa fa-cog"></i></div>

          <div class="budgets__budget-loader"></div>
        </div>
      </li>

      <li class="budgets__flipper">
        <div class="budgets__budget" ui-sref="user.budget.create">
          <div class="budgets__budget-new-icon">+</div>
        </div>
      </li>
    </ul>

<!--    <div class="budgets__title">{{'BILLING' | translate}}</div>-->

<!--    <div ng-if="userCtrl.isFree === true">-->
<!--      <p>{{'FREE_VERSION_EXPLANATION' | translate}}</p>-->

<!--      <button class="button" ng-click="userCtrl.removeLocalData()"><i class="fa fa-times"></i> {{'REMOVE_LOCAL_BUDGETS' | translate}}</button>-->
<!--    </div>-->

<!--    <div ng-if="userCtrl.loadingFailed">-->
<!--      <p>{{'LOADING_SUBSCRIPTIONS_FAILED_EXPLANATION' | translate}}</p>-->

<!--      <button class="button" ng-click="userCtrl.removeLocalData()"><i class="fa fa-times"></i> {{'REMOVE_LOCAL_BUDGETS' | translate}}</button>-->
<!--    </div>-->

<!--    <div ng-if="userCtrl.isFree === false">-->
<!--      <p ng-if="(userCtrl.loadingSubscription || userCtrl.loadingSource) && !userCtrl.loadingFailed">-->
<!--        {{'LOADING_SUBSCRIPTION' | translate}}-->
<!--      </p>-->


<!--      <div ng-if="!userCtrl.loadingSubscription && !userCtrl.loadingSource && !userCtrl.loadingFailed">-->
<!--        <h2>{{'YOUR_SUBSCRIPTION' | translate}}</h2>-->

<!--        <div ng-if="userCtrl.subscription">-->
<!--          <div ng-if="userCtrl.subscription.cancel_at_period_end">-->
<!--            <p ng-if="userCtrl.subscription.status === 'trialing'" translate="TRIAL_CANCELLED_EXPLANATION" translate-values="{date: (userCtrl.subscription.current_period_end * 1000 | date)}"></p>-->

<!--            <p ng-if="userCtrl.subscription.status !== 'trialing'" translate="SUBSCRIPTION_CANCELLED_EXPLANATION" translate-values="{date: (userCtrl.subscription.current_period_end * 1000 | date)}"></p>-->

<!--            <button class="button button&#45;&#45;primary" ladda="userCtrl.loadingStartSubscription" ng-click="userCtrl.startSubscription()">{{'RESUME_MY_SUBSCRIPTION' | translate}}</button>-->

<!--          </div>-->

<!--          <div ng-if="!userCtrl.subscription.cancel_at_period_end">-->
<!--            <div ng-if="userCtrl.source">-->
<!--              <p translate="SUBSCRIPTION_BILLING_EXPLANATION" translate-values="{date: (userCtrl.subscription.current_period_end * 1000 | date), amount: (userCtrl.subscription.plan.amount | intCurrency | currency : '$'), last4: userCtrl.source.last4}"></p>-->

<!--              <button class="button" ladda="userCtrl.loadingStopSubscription" ng-click="userCtrl.stopSubscription()">{{'CANCEL_SUBSCRIPTION' | translate}}</button>-->

<!--              <p><small translate="CANCEL_SUBSCRIPTION_SERVICE_CONTINUATION_EXPLANATION" translate-values="{date: (userCtrl.subscription.current_period_end * 1000 | date)}"></small></p>-->
<!--            </div>-->

<!--            <div ng-if="!userCtrl.source">-->
<!--              <p translate="NO_CARD_ON_ACCOUNT" translate-values="{date: (userCtrl.subscription.current_period_end * 1000 | date)}"></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


<!--        <div ng-if="!userCtrl.subscription">-->
<!--          <p>{{'NO_SUBSCRIPTION' | translate}} <span ng-if="!userCtrl.source">{{'YOU_MUST_ADD_A_PAYMENT_METHOD' | translate}}</span></p>-->

<!--          <div ng-if="userCtrl.source">-->
<!--            <button class="button button&#45;&#45;primary" ladda="userCtrl.loadingStartSubscription" ng-click="userCtrl.startSubscription()"><span translate="START_SUBSCRIPTION" translate-values="{amount: (12 | currency : '$')}"></span></button>-->
<!--          </div>-->
<!--        </div>-->

<!--        <h2>{{'YOUR_PAYMENT_METHOD' | translate}}</h2>-->

<!--        <p ng-if="!userCtrl.source">-->
<!--          <button class="button button&#45;&#45;primary" ng-if="!userCtrl.source" ng-click="userCtrl.addCard()">+ {{'ADD_A_CARD' | translate}}</button>-->
<!--        </p>-->


<!--        <div ng-if="userCtrl.source">-->
<!--          <p translate="CARD_ON_ACCOUNT_EXPLANATION" translate-values="{brand: userCtrl.source.brand, last4: userCtrl.source.last4}"></p>-->

<!--          <button class="button" ladda="userCtrl.loadingRemoveSource" ng-click="userCtrl.removeSource()">{{'REMOVE_CARD' | translate}}</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>

  <div class="budgets-footer">
    <div class="budgets-footer__container">
<!--      <div class="budgets-footer__website">-->
<!--        <a href="https://financier.io">← {{'BACK_TO_WEBSITE' | translate}}</a>-->
<!--      </div>-->
      <div class="budgets-footer__version" translate="VERSION_INFORMATION" translate-values=":: version"></div>
    </div>
  </div>
</div>
